.blog-page {
    display: flex;
    gap: 20px;
    padding: 10px;
    padding-bottom: 0%;
    justify-content: center;
    align-items: center;
  }
  
  .blog-card {
    width: 60px;
    height: 80px;
    background: #004494;
    border-radius: 8px;
    overflow: hidden;
    box-shadow:"0 8px 20px 0px rgba(0, 48, 241, 0.5), 0 8px 40px 0px rgba(5, 230, 238, 0.5)";
    transition: transform 0.3s;
  }
  
  .blog-card:hover {
    transform: translateY(-5px);
  }
  
  .blog-image {
    width: 80%;
    height: 20px; /* Reduced for smaller card size */
    object-fit: cover;
  }
  
  .blog-content {
    padding: 5px; /* Reduced padding for smaller content area */
  }
  
  .blog-meta {
    display: flex;
    justify-content: space-between;
    font-size: 8px; /* Smaller font size */
    color: #888;
    margin-bottom: 5px;
  }
  
  .blog-title {
    font-size: 10px; /* Smaller font size */
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    transition: color 0.3s;
  }
  
  .blog-title:hover {
    color: #0056b3;
  }
  
  .blog-description {
    font-size: 8px; /* Smaller font size */
    color: #666;
    margin-bottom: 5px;
  }
  
  .read-more {
    padding: 4px 6px; /* Reduced padding */
    font-size: 8px; /* Smaller font size */
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .read-more:hover {
    background-color: #004494;
  }